.layout{
    .container{
        display: grid;
        //grid-template-columns: 1fr 1fr;
        //grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        'header header header header header header'
        'map map map map menus menus';
    }

    &__header{
        grid-area: header;
        //grid-column-start: 1;
        //grid-column-end:3;
        //grid-row-start: 1;
        //grid-row-end:2;

    }

    &__map{
        grid-area: map;
        //grid-column-start: 1;
        //grid-column-end:2;
        //grid-row-start: 2;
        //grid-row-end:3;

    }

    &__menu{
        grid-area: menus;
        //grid-column-start: 2;
        //grid-column-end:3;
        //grid-row-start: 2;
        //grid-row-end:3;

    }
}